
#headOfInput{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: black;
}

div{
  text-align: center;
  margin: auto;
  margin-top: 200px;
  display: block;
  color: greenyellow;
  font-size: 36px;
}

input{
  height: 30px;
  text-align: center;
  width: 45%;
  margin: 5px;
  border-radius: 10px;
}

input:hover::placeholder{
  color: white;
}

h5{
  text-shadow: 1px 1px 2px chocolate, 0 0 1em blue, 0 0 0.2em blue;
}
